extends layout

block content
  #content-full
    #hr
      #hr-center
        #intro
          .center-highlight
            .container
              #breadcrumbs
                a(href='/') Accueil
                span.raquo  » 
                | Nos membres
    .center-highlight
      .container
        #full.clearfix
          .entry.clearfix.post.full
              h1.title Nos membres
              p
                | Nos membres forment une équipe d’élite multidisciplinaire. Ils sont le coeur, l’esprit et la fierté de la coopérative.
              p
                span#more-39
              h1(style="margin-bottom:.5em") Membres Travailleurs
              .one_half
                h2 Jacques Berger
                h3 Conseiller en technologie de l'information
                #testid.et-testimonial-box.testclass(style='width: 100%;')
                  .et-testimonial-content
                    .et-testimonial.clearfix
                      .t-img
                        img(src='https://secure.gravatar.com/avatar/6211ea2c1a32bb0480cc1f5aaf833d01?size=57', alt='Jacques Berger')
                      p
                        | Aussi à l’aise avec les gens qu’avec les machines, Jacques est reconnu pour son professionnalisme, sa rigueur au travail et sa capacité à s’adapter aux changements. Il s’intéresse à tous les aspects du développement de logiciels, avec un intérêt marqué pour la réalisation et la maintenance des logiciels. La transparence et le transfert de connaissances sont pour lui des valeurs fondamentales qui en font un bon communicateur et vulgarisateur. Formateur d’expérience, il enseigne selon une approche pragmatique basée sur son expérience professionnelle.
                      .t-info
                        span.t-author Jacques Berger
                          a(href="http://ca.linkedin.com/in/jacquesberger/")
                            img(src="/images/svg/linkedin_alt.svg", width="16px", style="position:relative; top:3px; left:3px;")
                        span.t-position Conseiller en technologie de l’information
                h2 Pascale Bourassa
                h3 Designer Web UX/UI
                #testid.et-testimonial-box.testclass(style='width: 100%;')
                  .et-testimonial-content
                    .et-testimonial.clearfix
                      .t-img
                        img(src='https://secure.gravatar.com/avatar/5301ae4e05ce861e948cc16ca5e17c73?size=57', alt='Pascale Bourassa')
                      p Étudiante au Baccalauréat en informatique et génie logiciel à l’UQAM, Pascale possède autant le sens de l'esthétique que l'esprit logique. Elle aime s’appliquer à créer des interfaces ergonomiques qui savent satisfaire les besoins des clients. Organisée, elle se dévoue autant à son travail qu'à sa formation continuelle. Diplômée en Techniques d'intégration multimédia, elle a acquis des compétences dans toutes les sphères du développement Web. 
                      .t-info
                        span.t-author Pascale Bourassa
                          a(href="http://ca.linkedin.com/pub/pascale-bourassa/21/b0b/65b")
                            img(src="/images/svg/linkedin_alt.svg", width="16px", style="position:relative; top:3px; left:3px;")
                        span.t-position Designer Web UX/UI
                  .t-bottom-shadow
                  .t-bottom-shadow
                h2 Pascal Chouinard
                h3 Conseiller en technologie de l'information, cofondateur
                #testid.et-testimonial-box.testclass(style='width: 100%;')
                  .et-testimonial-content
                    .et-testimonial.clearfix
                      .t-img
                        img(src='https://secure.gravatar.com/avatar/3b902bef2f15a19cf542de851a99e6f4?size=57', alt='Pascal Chouinard')
                      p
                        | Pascal est un développeur professionnel et chevronné qui aime être à l’affut des nouvelles technologies et des meilleures pratiques du domaine. Calme, respectueux et attentionné, il est très soucieux de satisfaire et dépasser les attentes des clients ainsi que de toujours pratiquer son métier avec éthique et diligence. Il aime être multidisciplinaire et il s’intéresse autant aux aspects matériels que logiciels de l’informatique. Visant toujours à se perfectionner, Pascal est actuellement finissant à la Maitrise en Génie logiciel à l’UQÀM.
                      .t-info
                        span.t-author Pascal Chouinard
                          a(href="http://ca.linkedin.com/in/pascalchouinard")
                            img(src="/images/svg/linkedin_alt.svg", width="16px", style="position:relative; top:3px; left:3px;")
                        span.t-position Conseiller en technologie de l’information, cofondateur
                  .t-bottom-shadow
              .one_half.last
                h2 Benjamin Dreux
                h3 Cofondateur
                #testid.et-testimonial-box.testclass(style='width: 100%;')
                  .et-testimonial-content
                    .et-testimonial.clearfix
                      .t-img
                        img(src='https://secure.gravatar.com/avatar/fd1adaf32d9dc6531d6041dbc379efb0?size=57', alt='Benjamin Dreux')
                      p
                        | Après avoir été diplômé d’un Master en génie logiciel en France, Benjamin s’est installé au Québec. Même si sa formation était orientée sur la preuve logicielle, il s’est réorienté après avoir redécouvert JavaScript. Depuis, au contact des autres membres de la coopérative, il s’est découvert une passion pour l’expérience utilisateur et le développement d’interfaces.
                        | Toujours friand de nouveauté, il profite de ses temps libres pour essayer des nouvelles technologies comme Node.js, Express, et AngularJS.
                      .t-info
                        span.t-author Benjamin Dreux
                          a(href="http://ca.linkedin.com/pub/benjamin-dreux/18/7a/aa6")
                            img(src="/images/svg/linkedin_alt.svg", width="16px", style="position:relative; top:3px; left:3px;")
                        span.t-position Cofondateur
                  .t-bottom-shadow
                h2 François-Xavier Guillemette
                h3 Directeur général, cofondateur
                #testid.et-testimonial-box.testclass(style='width: 100%;')
                  .et-testimonial-content
                    .et-testimonial.clearfix
                      .t-img
                        img(src='http://www.gravatar.com/avatar/76f0d24ad87d65debc82aed00720f1ce?s=57', alt='François-Xavier Guillemette')
                      p
                        | La simplicité est la plus grande forme de sophistication; celle du design, du code, des outils et des pratiques. Depuis 2007, François applique ce credo au développement d’applications web modernes et à l’architecture de systèmes variés. Sa vie a basculé au contact des technologies de présentation web modernes (e.g. HTML5, CSS3, CoffeeScript, Node.js). Depuis, il s’intéresse plus particulièrement au design d’interfaces graphiques sur le web. Titulaire d’une maîtrise en informatique, il s’efforce de transmettre à ses étudiants ainsi qu’à ses pairs sa passion et sa curiosité pour les tendances émergentes, les outils de développement et les langages de programmation. Pour lui, les méthodologies agiles ne sont pas une mode passagère mais bien le seul ensemble de pratiques ayant prouvé leur efficacité autant au niveau de la qualité des systèmes livrés que dans la productivité des développeurs impliqués.
                      .t-info
                        span.t-author François-Xavier Guillemette
                          a(href="http://ca.linkedin.com/pub/françois-xavier-guillemette/60/a06/824/")
                            img(src="/images/svg/linkedin_alt.svg", width="16px", style="position:relative; top:3px; left:3px;")
                        span.t-position Directeur général, cofondateur
                  .t-bottom-shadow
                h2 Alexandre Rimthong
                h3 Conseiller en technologie de l'information
                #testid.et-testimonial-box.testclass(style='width: 100%;')
                  .et-testimonial-content
                    .et-testimonial.clearfix
                      .t-img
                        img(src='http://www.gravatar.com/avatar/86479e1c69d7c9737788a059aca9d75c.png?s=57', alt='Alexandre Rimthong')
                      p
                        | Finissant en Maîtrise en Génie Logiciel à l’UQAM, Alexandre est un ardent artisan du développement logiciel bien fait: la transparence envers le client, l’intégration continue, les tests et le développement agile ne sont que quelques unes des bonnes pratiques qu’il prêche. Toujours à l’affût de nouvelles technologies, il passe son temps à développer des applications Open Source en mettant les nouvelles tendances informatiques à l’épreuve, tout en contribuant à la communauté. Passionné par la sécurité informatique, on peut normalement le retrouver dans diverses compétitions et conférences en sécurité lorsqu’il n’a pas le nez dans du code.
                      .t-info
                        span.t-author Alexandre Rimthong
                          a(href="http://ca.linkedin.com/in/rimthong/")
                            img(src="/images/svg/linkedin_alt.svg", width="16px", style="position:relative; top:3px; left:3px;")
                        span.t-position Conseiller en technologie de l’information
                  .t-bottom-shadow
              .clear
              p
              h1(style="margin-bottom:.5em") Membres de soutien
              .one_half
                p  
                  h2 Claude Normandin
                  h3 Représentante de l'Association Internationale du Logiciel Libre (AI2L)
              .clear
