extends layout

block content
  #content-full
    #hr
      #hr-center
        #intro
          .center-highlight
            .container
              #breadcrumbs
                a(href='/') Accueil
                span.raquo  » 
                | Notre philosophie
    .center-highlight
      .container
        #full.clearfix
          .entry.clearfix.post.full
              h1.title
                  cufon.cufon.cufon-canvas(alt='Notre ', style='width: 83px; height: 36px;')
                    canvas(width='122', height='40')
                    cufontext Notre 
                  cufon.cufon.cufon-canvas(alt='philosophie', style='width: 146px; height: 36px;')
                    canvas(width='177', height='40')
                    cufontext philosophie
                p Nous visons la mise en place d’une coopérative de solidarité juste, équitable, transparente et démocratique qui appartient à ses membres i.e. “Un membre, un vote”.
                p
                  span#more-724
                .one_third
                  h2 Raison d’être
                  p Nous formons une équipe d’élite qui s’est regroupée dans le but:
                  ul
                    li de s’assurer un salaire compétitif et des avantages marginaux;
                    li de fournir des services de qualité supérieure à nos clients;
                    li de travailler ensemble et ce, dans une atmosphère respectueuse, agréable et humaine;
                    li de développer un lien de confiance durable avec les membres de la coopérative;
                    li de partager notre bonne fortune avec la communauté, des oeuvres de bienfaisance et les projets de logiciels libres dont nous dépendons.
                .one_third
                  h2 Principes
                  h3
                    cufon.cufon.cufon-canvas(alt='Égalitarisme', style='width: 92px; height: 22px;')
                      canvas(width='112', height='25')
                      cufontext Égalitarisme
                  p La croyance que tous devraient être traité équitablement. Ceci inclut l’égalité, la non-discrimination et l’inclusion;
                  h3
                    cufon.cufon.cufon-canvas(alt='Durabilité', style='width: 71px; height: 22px;')
                      canvas(width='91', height='25')
                      cufontext Durabilité
                  p Nous avons une vision à long terme de la coopérative. Nous surveillons les profits et dépensons avec sagesse; nous nous entraidons et s’occupons l’un de l’autre; nous supportons les outils dont nous dépendons; nous favorisons le partage entre les clients et la coopérative;
                  h3
                    cufon.cufon.cufon-canvas(alt='Transparence', style='width: 102px; height: 22px;')
                      canvas(width='123', height='25')
                      cufontext Transparence
                  p Nous communiquons de façon honnête et authentique. Toute information ou processus pouvant être rendu accessible le sera;
                  h3
                    cufon.cufon.cufon-canvas(alt='Plaisir', style='width: 44px; height: 22px;')
                      canvas(width='67', height='25')
                      cufontext Plaisir
                  p Créer un environnement et une ambiance de travail où les membres auront du plaisir et voudront y travailler;
                  h3
                    cufon.cufon.cufon-canvas(alt='Agilité', style='width: 46px; height: 22px;')
                      canvas(width='66', height='25')
                      cufontext Agilité
                  p Être flexible, réceptif et évolutif,  spécialement avec les membres de la coopérative;
                  h3
                    cufon.cufon.cufon-canvas(alt='Professionnalisme', style='width: 136px; height: 22px;')
                      canvas(width='157', height='25')
                      cufontext Professionnalisme
                  p En plus de répondre aux besoins du client, nous nous assurons que les logiciels livrés sont bien conçus.
                .one_third.last
                  h2 Méthodes
                  p Des outils concrets nous permettant de respecter nos principes.
                  ul
                    li Prises de décisions basées sur le consensus et la participation active des membres;
                    li Transparence de la coopérative i.e. toute information ou processus pouvant être rendu accessible le sera;
                    li Des choix de licences qui bénéficient à la coopérative, à ses membres, à ses partenaires et à la société en général; des licences de logiciels libres seront privilégiées.
                    li Partage des surplus avec des causes nobles;
                    li Ne pas essayer de changer les personnes mais plutôt de mettre au maximum leurs forces à contribution en contournant leurs faiblesses;
                    li Préférer travailler avec des personnes partageant nos valeurs;
                    li
                      | Favoriser des pratiques d’assurance qualité éprouvées comme le 
                      em Test-Driven Development
                      | , les revues de code formelles et autres techniques «agiles».
                .clear
                p
                  em
                    | Inspiré de «
                    a(href='http://montyprogram.com/hacking-business-model/', onclick='javascript:_gaq.push([\'_trackEvent\',\'outbound-article\',\'http://montyprogram.com\']);') The Hacking Business Model
                    | » par Zak Greant et Michael Widenius.
