extends layout

block content
  #content-full
    #hr
      #hr-center
        #intro
          .center-highlight
            .container
              #breadcrumbs
                a(href='/') Accueil
                span.raquo  » 
                | Services
    .center-highlight
      .container
        #full.clearfix
          .entry.clearfix.post.full
            h1.title
              cufon.cufon.cufon-canvas(alt='Services', style='width: 112px; height: 36px;')
                canvas(width='145', height='40')
                cufontext Services
            .clear
            div(style='margin-top: 3em;')
            .one_third
              h2(style='text-align: center;') Sherpas technologiques
              p(style='text-align: center;')
                img.polaroid(src='/images/iStock_000019293040_253x253.png')
              p
                | Nos sherpas partagent leur expertise technologique avec votre équipe afin de vous aider à mener à terme vos projets. Nous agissons en tant que guide, s’intégrant temporairement à votre équipe pour vous offrir des conseils sur le choix d’outils et d’approches, tout en identifiant les embûches potentielles dans votre projet.
              div(style='margin-top: 1em; clear: both; float: right;')
                a.small-button.smallblack(href='/services/sherpas')
                  span En savoir plus
            .one_third
              h2(style='text-align: center;') Conseillers en TI
              p(style='text-align: center;')
                img.polaroid(src='/images/iStock_000018676776_253x253.png')
              p
                | L’équipe CODE3 peut aussi venir en aide directement dans votre entreprise. En utilisant notre expertise en TI, nous sommes en mesure de vous offrir une vaste gamme de services. Notre intervention en entreprise couvre la réalisation d’études d’amélioration des TI, la rédaction de plans de continuité des TI, des analyses en sécurité informatique, jusqu’à la proposition de solutions logicielles que nous pouvons adapter sur mesure et même déployer en mode infonuagique.
              div(style='margin-top: 1em; clear: both; float: right;')
                a.small-button.smallblack(href='/services/conseil')
                  span En savoir plus
            .one_third.last
              h2(style='text-align: center;') Développement coopératif
              p(style='text-align: center;')
                img.polaroid(src='/images/iStock_000006715814Medium_253x253.jpg')
              p
                | CODE3 se spécialise dans le développement coopératif de logiciels. Notre solution de développement coopératif consiste en la mise en commun des ressources de plusieurs entreprises, dans la création commune d’une solution qui sera adaptée pour chacun. Il s’agit d’une méthode novatrice permettant de partager les coûts monétaires et en temps d’experts de domaine tout en obtenant une solution parfaitement adaptée.
              div(style='margin-top: 1em; clear: both; float: right;')
                a.small-button.smallblack(href='/services/developpement')
                  span En savoir plus
            .clear
