@import 'nib'

.polaroid
  border 13px solid white
  border-bottom-width 38px
  box-shadow 0 4px 12px #1d1d1d
  margin 2em 0

.absolute
  position absolute
  left 0
  top 0
  margin 0

.transform1
  transform rotate(-5deg)

.transform2
 transform rotate(17deg) translate(186px,-22px)
 z-index 1000

.transform3
  transform rotate(-2deg)

.transform4
 transform rotate(17deg) translate(175px,62px)
 z-index 1000
